.market--table{
    width: 95%;
    margin: 20px 0px 10px;
    font-weight: bold;
    border-collapse:collapse;
}


@media screen and (max-width:780px) {
    .table--chart{display: none;}
    
  }



  @media screen and (max-width:700px){
    .market--data--cap{display: none;}
  }


  @media screen and (max-width:400px) {
    .market--table--headers {
      font-size: 0.9rem;
    }
  }