.footer--main--container{
    padding: 20px 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.footer--main--container--light{
    background-color: #f5f9fa;
}



.footer--main--container--dark{
    background-color: #31363F;
}

.footer--divs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer--divs a{
    text-decoration: none;
    color: #7d7f81;
    margin-top: 5px;
    margin-bottom: 5px;
   
}

.footer--divs a:hover{
    color: #0d9389;
}

.footer--divs--group{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.footer--divs--group a{
    width: 200px;
}

.footer--green--banner{
    padding: 5px 8%;
    background-color: #0ead98;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 0.8rem;
}

.footer--socalMedia--container a{
    margin-right: 5px;
    text-decoration: none;
}


.footer--main--container--min{
    display: none;
}

.footer--hr--min{
    background-color: #7d7f81;
    color: #7d7f81;
    width: 99%;
}

.footer--header--min{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.footer--main--container--min ul{
    list-style-type: none ;
}


.footer--main--container--min li{
    margin: 10px auto;
}

.footer--main--container--min a{
    text-decoration: none;
    
}

.footer--main--container--min--light{
    background-color: #f5f9fa;
}


.footer--main--container--min--light a{
    color: #000;
}

.footer--main--container--min--dark{
    background-color: #31363F;
}

.footer--main--container--min--dark a{
    color: #fff;
}


.footer--slider--min{
    height: 200px;
    overflow-y: scroll;
}

@media screen and (max-width:1220px) {
    
    .footer--main--container{
        display: none;
    }

    .footer--main--container--min{
        padding-left: 30px;
        padding-top: 30px;
        display: flex;
        flex-direction: column;
   
    }
}