
 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  
  font-family: "Roboto", sans-serif ;
  padding: 0px;
  margin: 0px;
 
 
}

.body--light--mood{
  color: #161719;
  background-color: #ffffff;
}

.body--dark--mood{
  color: #ffffff;
  background-color: #222831;
}

button{
  font-family: "Roboto", sans-serif ;
}

input{
  font-family: "Roboto", sans-serif ;
}