.market--container {
  padding-top: 40px;
  padding-left: 11%;
  z-index: 1;
  position: relative;
  
}

.market--container--light{
  background: #fff;
}

.market--container--dark{
  background: #222831;
}

.market--header--container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 15%;
}

.market--header{
  margin-bottom: 10px;
}

.market--search--light{
  background-color: #fff !important;
  color: black;
}

/* 
.market--search--dark{
  background-color: #161719;
  color: #fff;
} */


.table--bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  text-align: center;
}

.table--bottom p {
  color: #7d7f81;
}


@media screen and (max-width:1145px) {



}


@media screen and (max-width:550px) {
  .table--bottom{
    flex-direction: column;
  }
}