.white--green--color {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 20%,
    rgb(191, 246, 239) 100%
  ) !important;
}

.black--green--color {
  background: #222831;
  background: linear-gradient(
    0deg,
    #222831 20%,
    rgb(191, 246, 239) 100%
  ) !important;
}

.colorful--section {
  margin-top: 0px;
  padding: 0.1px 0px 20px;
  position: relative;
  z-index: 10;
}
